<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>109635312906-4n0vtv21bpu7gkq3e7j6i4he623j4b0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109635312906-4n0vtv21bpu7gkq3e7j6i4he623j4b0g</string>
	<key>API_KEY</key>
	<string>AIzaSyBgsiW6EW72Cqtk8ULZGySH7829OjuNjF8</string>
	<key>GCM_SENDER_ID</key>
	<string>109635312906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fooBar.questionOfTheDayHen</string>
	<key>PROJECT_ID</key>
	<string>questionofthedayhennig</string>
	<key>STORAGE_BUCKET</key>
	<string>questionofthedayhennig.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109635312906:ios:acb0c5efdcecd9b0</string>
	<key>DATABASE_URL</key>
	<string>https://questionofthedayhennig.firebaseio.com</string>
</dict>
</plist>